<div class="modal-youtube">
  <div
    class="modal-content--config"
    [ngStyle]="{
      height: currentHeight < 500 ? '320px' : '',
      width: currentHeight < 500 ? '450px' : ''
    }"
  >
    <div class="close-modal">
      <i class="fa fa-times-circle-o fa-3x" aria-hidden="true"></i>
    </div>
    <iframe
      width="100%"
      height="100%"
      [src]="trailer"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>
