<div *ngIf="!phimChieu; else dsPhim">
  <div class="lichPhim-empty">
    <p>Không Có Lịch Chiếu</p>
  </div>
</div>
<ng-template #dsPhim>
  <ul class="lichPhim">
    <li
      *ngFor="let lichPhimItem of lichChieuPhim; let index = index"
      class="lich-phim__item"
    >
      <div
        data-toggle="collapse"
        [attr.data-target]="'#a' + index"
        (click)="layMaPhim(lichPhimItem.maPhim); showGio()"
        class="lich-phim__content d-flex"
      >
        <img [src]="lichPhimItem.hinhAnh" alt="" />
        <div class="lich-phim__title mx-3 mt-2">
          <span class="lich-tenPhim mr-2">Cyber</span>
          <span class="font-weight-bold tenPhim">{{
            lichPhimItem.tenPhim
          }}</span>
          <p class="text-left">120 Phút</p>
        </div>
      </div>
      <div [id]="'a' + index" class="collapse lich-phim__suatChieu">
        <div class="d-flex mt-sm-3">
          <app-gio-xem
            class="suatChieu__gioXem"
            [mangGioXem]="lichPhimItem.lstLichChieuTheoPhim"
          ></app-gio-xem>
        </div>
      </div>
      <div class="lich-chieu__border my-3"></div>
    </li>
  </ul>
</ng-template>
