.dsPhim {
  background-color: #28282d;
    padding-top: 40px;
    padding-bottom: 40px;
    .dsPhim__title {
      color: white;
      padding-bottom: 5px;
      .active {
        border-bottom: 2px solid #ff55a5;
        font-weight: bold;
        font-size: 25px;
        color: #ff55a5
      }
      .disabled{
        color: hsla(0,0%,100%,.6);
          cursor: pointer;
          transition: 0.4s;
          font-size: 20px;
          &:hover{
            color: white;
            font-size: 25px;
          }

      }
    }
    .dsPhim__content {
        width: 90%;
        max-width: 1160px;
        margin: 0 auto;
        // @include for-size(lg) {
        // max-width: 760px;
        // }
        // @include for-size(sm) {
        // max-width: 560px;
        // }
        // @include for-size(xs) {
        // max-width: 85%;
        // }
        // @include for-size(phone-sm) {
        // max-width: 250px;
        // }
   

  }
}