.rap{
    position: relative;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 2px;
        display: block;
        background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
        box-shadow: 0 0 20px 0 rgba(255,88,96,0.5);
    }
    width: 100%;
    padding-top: 50px;
    .rap__title{
        text-align: center;
        color: #ff55a5;;
    }
    .rap__content{
        padding-top: 20px;
        text-align: center; 
       .rap__logo{
            width: 70%;
            margin: 0 auto !important;
            .rap__item{
                padding: 10px 0;
                list-style: none;
                opacity: 0.5;
                transition: all 0.3s;
                p,i{
                    display: none;
                }
                &.active{
                    opacity: 1;
                }
                &:hover{
                    opacity: 1;
                }
                img{
                    width: 70px;
                    height: 70px;
                }
            }
        }
    }
}