<div class="rap mx-auto">
  <div class="rap__title">
    <h3>CỤM RẠP</h3>
  </div>
  <div class="rap__content container">
    <div class="rap__logo row">
      <div
        class="col-md-2 col-sm-4 rap__item"
        *ngFor="let heThong of dsHeThongRap; let index = index"
        [attr.data-id]="index"
        [ngClass]="{ active: index == indexActive }"
        (click)="layMaHeThong(heThong.maHeThongRap); changeIndex(index)"
      >
        <div class="bg-item">
          <div
            class="img-logo"
            data-toggle="collapse"
            [attr.data-target]="'#b' + index"
          >
            <img [src]="heThong.logo" alt="" />
            <p>{{ heThong.tenHeThongRap }}</p>
            <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
          </div>
          <div
            [id]="'b' + index"
            *ngIf="currentWindowWidth <= 420"
            class="collapse rap__lich-chieu-item"
          >
            <app-lich-chieu-rap
              [maHeThong]="heThong.maHeThongRap"
            ></app-lich-chieu-rap>
          </div>
        </div>
      </div>
    </div>
    <div class="rap__lich-chieu" *ngIf="currentWindowWidth > 420">
      <app-lich-chieu-rap
        *ngIf="maHeThong"
        [maHeThong]="maHeThong"
      ></app-lich-chieu-rap>
    </div>
  </div>
</div>
