<div class="rap mx-auto">
  <div class="rap__title">
    <h3>CỤM RẠP</h3>
  </div>
  <div class="rap__content container">
    <div class="rap__logo row">
      <div
        class="col-md-2 col-sm-4 rap__item"
        *ngFor="let heThong of dsHeThongRap; let index = index"
        [ngClass]="{ active: index == indexActive }"
        (click)="layMaHeThong(heThong.maHeThongRap); changeIndex(index)"
      >
        <div class="bg-item">
          <div class="img-logo">
            <img [src]="heThong.logo" alt="" />
            <p>{{ heThong.tenHeThongRap }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="rap__lich-chieu">
      <app-lich-chieu-rap [maHeThong]="maHeThong"></app-lich-chieu-rap>
    </div>
  </div>
</div>
