<div class="row lich-chieu">
  <div class="col-lg-5 col-md-6 lich-chieu__content">
    <ul class="lich-chieu__rap">
      <li
        *ngFor="let thongTinRap of dsRap; let index = index"
        class="lich-chieu__item py-2 border-bottom"
        [ngClass]="{ active: index == indexActive }"
        (click)="layMaCumRap(thongTinRap.maCumRap); changeIndex(index)"
      >
        <div
          class="d-flex"
          (click)="showCumRap()"
          data-toggle="collapse"
          [attr.data-target]="'#' + thongTinRap.maCumRap"
        >
          <img src="assets/img/rap-demo.jpg" alt="" />
          <div class="item__title ml-2">
            <span class="tenRap">
              {{ thongTinRap.tenCumRap.split("-")[0] }}
            </span>
            <span class=""> - {{ thongTinRap.tenCumRap.split("-")[1] }}</span>
            <p class="dsRap-diaChi small">{{ thongTinRap.diaChi }}</p>
          </div>
        </div>
        <div
          *ngIf="currentWindowWidth <= 420"
          class="lich-chieu__phim-item collapse"
          [id]="thongTinRap.maCumRap"
        >
          <app-lich-chieu-phim
            [maRap]="maHeThong"
            [maCumRap]="thongTinRap.maCumRap"
          >
          </app-lich-chieu-phim>
        </div>
      </li>
    </ul>
    <div class="line"></div>
  </div>
  <div
    *ngIf="currentWindowWidth > 420"
    class="col-lg-7 col-md-6 lich-chieu__phim"
  >
    <app-lich-chieu-phim
      *ngIf="maCumRap"
      [maRap]="maHeThong"
      [maCumRap]="maCumRap"
    ></app-lich-chieu-phim>
  </div>
</div>
